.sectionEight_wrapper{
 
    width: 100%;
    margin-top: 125px;
}
.sectionEight{
    width: 80%;
    margin: auto;
}
.col_text h1{
    font-family: Cinzel;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;

}
.col_text p{
    font-family: Noto Serif;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
text-align: left;


}
.imageRow{
    text-align: center;
    display: flex;
    margin: auto 0;
    height: 100%;

}
.images{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.images img{
    width: 277.19px;
    height: 95.95px;
}
.imagesRera{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    
}
.imagesRera img{
    width: 202.56px;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:480px) {
    .sectionEight_wrapper{
 
        width: 100%;
        margin-top: 100px;
        padding: 0;

    }
    .sectionEight{
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .col_text h1{
        font-family: Cinzel;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .col_text{
        padding: 0;
    }
    .col_text p{
        font-family: Noto Serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    
    
    }
    .imageRow{
        height: unset;
    
    }
}